@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
}

.container1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
}

.cadastro {
  width: 30%;
  height: 70%;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
}

.relatorio {
  width: 30%;
  height: 70%;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2 {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: chartreuse;
}

.calculadora {
  background-color: burlywood;
  width: 30%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculadora h2 {
  display: flex;
  align-items: flex-start;
}
